name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Generate Env File
        # We copy the example env to the real env path so the app can compile.
        # Ideally, for real tests, you'd inject secret env vars here.
        run: cp lib/core/config/env.example.dart lib/core/config/env.dart

      - name: Install dependencies
        run: flutter pub get

#      - name: Analyze
#        run: flutter analyze

      - name: Run tests
        run: flutter test
